body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.crud-app{
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 400px;
  grid-gap: 20px;
}

table{
 width: 100%;
}

form{
  display: flex;
  flex-direction: column; 
  align-items: center;
}
input[type='text'],input[type='number']{
  margin-top: 15px;
  height: 30px;
  width: 50%;
}
input[type='submit'],button{
  width: 70px;
  height: 25px;
}

input[type='submit']{
  margin-top: 10px;
}

button{
  margin:0px 10px;
}

.data-table{
  margin-left: 120px;
}




